.My_block{
	width: 100%;
	overflow: hidden;
}
.My_block ul li{
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #e2e2e2;
	padding: 0.3rem 0;
}
.My_block_left{
	display: block;
	float: left;
	margin-left: 0.31rem;
	color: #333333;
	font-size: 0.28rem;
}
.My_block_right{
	display: block;
	float: right;
	margin-right: 0.52rem;
	color: #333333;
	font-size: 0.28rem;
}
.My_block_right a{
	display: block;
	float: left;
	width: 1.26rem;
	height: 0.54rem;
	line-height: 0.54rem;
	color: #333333;
	font-size: 0.28rem;
	background-color: #fff;
	-moz-border-radius:0.1rem;
-webkit-border-radius:0.1rem;
 -o-border-radius:0.1rem;
 border-radius:0.1rem;
 text-align: center;
}
.My_block_right a.active{
	background-color: #ffd6d6 !important;
	color: #ff0000 !important;
}
/*提现*/
.hui_bar{
	width: 100%;
	overflow: hidden;
	background-color: #f6f6f6;
	height: 0.2rem;
}
.Notice_p{
	margin: 0.93rem 0.4rem 1.38rem;
}
.Notice_p p{
	color: #333;
	font-size: 0.24rem;
	line-height: 2em;
}
.tixian_block ul li:last-child{
	border-bottom: none !important;
}
.save_btn {
	position: fixed;
	bottom:0.5rem;
    left:50%;
    margin-left: -3.45rem;
	width: 6.90rem;
	height: 0.98rem;
	background-color: #384355;
	-moz-border-radius: 0.03rem;
	-webkit-border-radius: 0.03rem;
	-o-border-radius: 0.03rem;
	border-radius: 0.03rem;
	color: #bf9e66;
    font-size: 0.32rem;
}
.change_block_right {
	display: block;
	float: right;
	width: auto;
	height: 100%;
	margin-right: 0.52rem;
	color: #333333;
	font-size: 0.28rem;
	border: none;
	outline: none;
	text-align: right;
}

